body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:914px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:170px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:21px;
  width:391px;
  height:170px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:387px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:597px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:250px;
  width:320px;
  height:597px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:170px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:21px;
  width:391px;
  height:170px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:387px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:597px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:250px;
  width:320px;
  height:597px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
